text {
  font-family: System-Light;
  fill: white;
}

.screen {
  width: 100%;
  height: 100%;
  viewport-fill: #151515;
}
.container {
  width: 96%;
  height: 96%;
  x: 2%;
  y: 2%;
}

.label {
  font-size: 20;
  text-length: 10;
  text-anchor: end;
}

#battery {
  font-family: Colfax-Regular;
  x: 94%;
  y: 20;
  font-size: 18;
  text-length: 10;
  text-anchor: end;
}

#steps {
  font-family: SevilleSharp-Bold;
  x: 86%;
  y: 76;
  font-size: 30;
  text-length: 10;
  text-anchor: end;
  fill: #c8c8c8;
}

.stepsIcon {
  fill: #949391;
  width: 28;
  height: 26;
  x: 88%;
  y: 54;
}

#kcal {
  font-family: SevilleSharp-Bold;
  x: 86%;
  y: 126;
  font-size: 30;
  text-length: 10;
  text-anchor: end;
  fill: #c8c8c8;
}

.kcalIcon {
  fill: #949391;
  width: 28;
  height: 24;
  x: 88%;
  y: 104;
}

#hrm {
  font-family: SevilleSharp-Bold;
  x: 86%;
  y: 176;
  font-size: 30;
  text-length: 10;
  text-anchor: end;
  fill: #c8c8c8;
}

.hrmIcon {
  fill: #949391;
  width: 26;
  height: 26;
  x: 88%;
  y: 152;
}

#floors {
  font-family: SevilleSharp-Bold;
  x: 86%;
  y: 226;
  font-size: 30;
  text-length: 10;
  text-anchor: end;
  fill: #c8c8c8;
}

.floorsIcon {
  fill: #949391;
  width: 28;
  height: 38;
  x: 88%;
  y: 198;
}

#hours {
  font-family: Fabrikat-Black;
  x: 4%;
  y: 114;
  fill: #7b68ee;
  font-size: 150;
}
#minutes {
  font-family: Fabrikat-Black;
  x: 4%;
  y: 234;
  fill: #9370db;
  font-size: 150;
}
#seconds {
  font-family: Fabrikat-Bold;
  x: 104;
  y: 236;
  font-size: 40;
}

#weekDay {
  font-family: Fabrikat-Bold;
  x: 4%;
  y: 114;
  font-size: 24;
}
#dateDay {
  font-family: Fabrikat-Bold;
  x: 4%;
  y: 142;
  font-size: 40;
}
